body{
    margin : 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.context {
    background-color: #f6f8fa;
    float: left;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}

#context_body {
    width: 500px;
    height : 650px;
    background-color: white;
    margin-top:50px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding:15px;

}

li{
    width:400px;
    list-style: none;
    text-align: right;
    color:red;
}

label{
    width:170px;
    display:inline-block;
    text-align: right;
}
#body_title{
    color: 4b67c2;
    border-bottom: 3px solid lightgray;
    margin-bottom:10px;
}

#user_title{
    padding-top: 20px;
}

#username{
    font-size: 50px;
}

.txtbox{
    width:200px;
    height:30px;
    padding:20px;
}

.login_box{
    width:350px;
    height:50px;
    padding:20px;
}

#btn_group{
    text-align: center;
    padding:15px;
}

#form_data{
    padding-top:20px;
    text-align: center;
}