{% load static %}
<html>

<head>
    <title>Django Login Example</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script|Permanent+Marker&display=swap"
        rel="stylesheet">

    <!-- materials -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <!-- context -->
    <div class="context">
        <div id="context_body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>