{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
<form action="/change-sale/{{ id }}" method="POST">
    <input type="hidden" name="_method" value="put" />
    <div id='form_data' style="padding-top:50%;">
        {% csrf_token %}
        {% render_form serializer %}
    </div>
    <div id='btn_group'>
        <input type="submit" class ="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Изменить" />
    </div>
</form>

{% endblock %}