{% extends 'base.html' %}
{% load rest_framework %}
{% block content %}
<form action="validate" method="POST">
    <div id='form_data' style="padding-top:50%;">
        {% csrf_token %}
        {% render_form serializer %}
    </div>
    <div id='btn_group'>
        <input type="submit" class ="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Log in" />
    </div>
</form>

{% endblock %}