{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Выручка за месяц</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.profit }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock content %}
