{% extends "base.html" %}
{% block content %}
<button onclick="location.href = '/products';" id="productsButton" class="float-left submit-button" >Товары</button>
<button onclick="location.href = '/create-sale';" id="close-image">Создать продажу?</button>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Дата</th>
        <th>Название товара</th>
        <th>Количество</th>
        <th>Сумма продажи</th>
        <th>Изменить?</th>
    </tr>
    </thead>
    <tbody>
    {% for sale in sales %}
    <tr>
        <td>{{ sale.date }}</td>
        <td>{{ sale.product.name }}</td>
        <td>{{ sale.amount }}</td>
        <td>{{ sale.sum }}</td>
        <td><button onclick="location.href = '/change-sale/{{ sale.id }}';" id="update-sale" style="width: 30px; height: 30px"><img style="width: 15px; height: 15px" src="https://assets.stickpng.com/thumbs/585e46f0cb11b227491c337b.png"></button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock content %}
